{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_communication/block-list

    This template renders a list of blocks for the communication activity module.

    Example context (json):
    {
    }
}}
<div data-region="block-list-container"
     data-limit="{{$limit}}20{{/limit}}"
     data-course-id="{{$courseid}}{{/courseid}}"
     data-last-id="{{$lastid}}{{/lastid}}"
     data-midnight="{{midnight}}"
     id="block-list-container-{{$courseid}}{{/courseid}}">

    <div data-region="block-list-content">
        {{< mod_communication/block-list-group }}
            {{$title}}{{/title}}
            {{$extratitleclasses}}{{/extratitleclasses}}
            {{$startday}}30{{/startday}}
            {{$endday}}{{/endday}}
        {{/ mod_communication/block-list-group }}

        <div class="text-xs-center text-center m-y-2">
            <button type="button" class="btn btn-secondary" data-action="view-more">
                {{#str}} viewmore {{/str}}
                <span class="hidden" data-region="loading-icon-container">
                    {{> core/loading }}
                </span>
            </button>
        </div>
    </div>
    <div class="hidden text-xs-center text-center m-t-3" data-region="empty-message">
        <img class="empty-placeholder-image-lg"
             src="{{urls.noblocks}}"
             alt="{{#str}} noblocks, mod_communication {{/str}}">
        <p class="text-muted m-t-1">{{#str}} noblocks, mod_communication {{/str}}</p>
    </div>
</div>
{{#js}}
require(['jquery', 'mod_communication/block_list'], function($, EventList) {
    var root = $("#block-list-container-{{$courseid}}{{/courseid}}");
    EventList.registerEventListeners(root);
});
{{/js}}
