{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_communication/type-list-group

    This template renders a list of types for the communication activity module.

    Example context (json):
    {
    }
}}
<div data-region="type-list-group-container"
     data-start-day="{{$startday}}0{{/startday}}"
     data-end-day="{{$endday}}{{/endday}}"
     class="hidden">

    <h5 class="h6 m-t-1 {{$extratitleclasses}}{{/extratitleclasses}}" id="type-list-title-{{uniqid}}"><strong>{{$title}}{{/title}}</strong></h5>
    <ul class="list-group unstyled" data-region="type-list" aria-describedby="type-list-title-{{uniqid}}">
        <li class="list-group-item type-list-item active" data-region="type-list-item">
            <div class="row">
                <div class="col-sm-8 col-lg-6 col-xl-7">
                    <div class="d-inline-type type-name-container">
                        <p class="type-name text-truncate">{{#str}} name, mod_communication {{/str}}</p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-6 col-xl-5">
                    <div class="row">
                        <div class="hidden-md-down col-lg-7 text-truncate">
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {{$typelistitems}}
            {{> mod_communication/type-list-items }}
        {{/typelistitems}}
    </ul>
</div>
